*{
	padding: 0;
	margin: 0;
	list-style: none;
}
main .container .row h2{
	font-weight: bold;
}
main .container .row .trai{
	background-color: white;
}
main .container .row .trai .list-item .course-list .course-content .title{
	color: red;
	font-weight: bold;	
}
main .container .row .trai .list-item .course-list .course-content .price{
	font-weight: bold;
}
main .container .row .trai .list-item td{
	padding: 20px 10px;
	border-top: 1px solid #e1e5ea;	
}
main .container .row .trai .list-item .course-list .course-action i{
	float: right;
	color: #969696;
	transition: 0.5s;
}
main .container .row .trai .list-item .course-list .course-action i:hover{
	transform: rotate(360deg);
}
main .container .row .phai{

}
main .container .row .phai .btn-danger{
	width: 100%;
	font-size: 20px;
	background: linear-gradient(#F04C51 27%, #ED2E34 100%);
}
main .container .row .phai .btn-success{
	width: 100%;
	font-size: 20px;
	background: linear-gradient(#62da62 27%, #47a447 100%);
}